{% extends 'base.html'  %}
{% block title %} Seja Bem Vindo {% endblock %}
{% block main %}
    <div class="container">
        <h1>Página Inicial - Exemplo de View Simples - POST</h1>
        {% if user.is_authenticated %}
            <h4>Olá {{user.username}}, Seja Bem Vindo</h4>
            <h5>{{ minha_variavel }}</h5>
            <a class="btn btn-danger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}"><i class="fas fa-user-check"></i> Login</a>
        {% endif %}

    </div>
{% endblock %}
